.spotlight {
    pointer-events: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }
  
  .motionContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    pointer-events: none;
  }
  
  .motionContainerLeft {
    left: 0;
  }
  
  .motionContainerRight {
    right: 0;
  }
  
  .gradientElement {
    position: absolute;
    top: 0;
  }
  
  .gradientElementLeft {
    left: 0;
  }
  
  .gradientElementRight {
    right: 0;
  }
  
  .originTopLeft {
    transform-origin: top left;
  }
  
  .originTopRight {
    transform-origin: top right;
  }
  